<div *ngIf="product">
    <div class="container">
        <div class="cont">
            <img [src]="product.PictureURL" alt="">
        </div>
        <div class="cont">
            <p>{{ product.Name}}</p>
            <p>{{ product.RatingAvg}}</p>
            <p class="description">{{ product.Description}}</p>
        </div>
        <div class="cont">
            <div>
                <p>${{ product.Price}}</p>
            </div>
            <div>
                <a class="button-link">out of stock</a>
                <a class="button" (click)="show()">add to Cart</a>
            </div>
        </div>
    </div>
    <div class="cont">
        <p> <strong>Brand:</strong>  {{ product.Brand}}</p>
        <p><strong>Color:</strong> {{ product.Color}}</p>
    </div>
</div>

<div *ngIf="display">
    <div class="modal">
        {{ modalMessage }}
    </div>
</div>

